@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
  display: grid;
  grid-template-columns: repeat(28, 1fr);
  grid-template-rows: repeat(28, 1fr);
  width: 448px;
  height: 448px;
  border: 1px solid black
}